UserData/

# Python
__pycache__/

# Build artifacts
*.pyd
*.lib
*.obj
bin/_fastercode/src/build/
bin/_fastercode/src/FasterCode.c
bin/_fastercode/src/irina/err.txt
bin/_fastercode/src/irina/util.i
bin/_fastercode/util.i

